 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ankita is an undergraduate student of Statistics at St. Xavier's College, Kolkata, India. She hopes to work in the field of data science and analytics.</p>
                </div>
                <div class="col-lg-4">
                    <p>If not coding, she can be found reading books, mostly non-fiction or watching a thriller movie.</p>
                </div>                
            </div>
        </div>
    </section>
